.logo-image {
  height: 30px;
}

.logo {
  padding-top: 20px;
  padding-right: 10px;
}

.bobbing-image-fast {
    -webkit-animation: mover-low 0.5s infinite alternate;
    animation: mover-low 0.5s infinite alternate;
}

.bobbing-image-slow {
    -webkit-animation: mover-high 1s infinite alternate;
    animation: mover-high 1s infinite alternate;
}

@-webkit-keyframes mover-low {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover-low {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@-webkit-keyframes mover-high {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover-high {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
