.search-results {
  font-size: 0.8rem;
  color: #aeaeae;
  font-style: italic;
  padding: 0.3rem;
}

.Container {
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    width: calc(100% - 56px);
}
