.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.checkout-module {
  font-size: 80%;
  padding: 1.5rem;
  margin: 2rem;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #eaeaea;
  width: 300px;
}

.checkout-module__header {
  margin-bottom: 1rem;
}
.checkout-module__movie {
  width: 75px;
  height: 115px;
}

.checkout-module__image {
  width: 75px;
  height: 115px;
  border-radius: 5px;
}

.checkout-module__image--placeholder {
  width: 75px;
  height: 115px;
  background-color: #fafafa;
  text-align: center;
  border: 2px dotted #cacaca;
  border-radius: 5px;
  padding-top: 30px;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.Nav__label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 12px;
    text-transform: uppercase;
    letter-spacing: .5px;
}

:root {
  --magenta: #880E4F;
  --dark-magenta: #640a3a;
  --navy: #01579B;
  --info: #880E4F;
}

.btn-info {
  background-color: var(--magenta);
  border-color: var(--magenta);
}

.btn-info:hover {
  background-color: var(--dark-magenta);
  border-color: var(--dark-magenta);
}

.btn-outline-info {
  color: var(--magenta);
  border-color: var(--magenta);
}

.btn-outline-info:hover {
  background-color: var(--magenta);
  border-color: var(--magenta);
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle {
  background-color: var(--dark-magenta);
  border-color: var(--dark-magenta);
  outline: none;
  box-shadow: none;
}

a {
  color: var(--magenta);
}

a:hover {
  text-decoration: none;
  color: var(--dark-magenta);
}

span {
  margin-left: .5em ;
}
